@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-white;
}

body {
  @apply bg-gray-900;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.05"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

section {
  @apply py-8 px-4 h-[100vh];
  overflow: hidden;
}

.cursor {
  background-color: yellow;
  border: 1px solid yellow;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.socialicon {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: 700;
  margin: 0 0.5rem;
}

.aboutText {
  font-family: "Courgette", cursive;
  font-weight: 400;
}

.pink {
  @apply text-pink-500;
}

.green {
  @apply text-green-500;
}

.white {
  color: white;
}

.blue {
  @apply text-blue-500;
}

.saffron {
  @apply text-orange-400;
}
